{% extends 'index.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1><b>Add Branch</b></h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Branch</a></li>
              <li class="breadcrumb-item active">Add</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <!-- General Form Elements -->
                        <form method="POST" action="{% url 'add_branch' %}">
                            {% csrf_token %}
                            <!-- Branch Name -->
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <label for="branchName" class="form-label">Branch Name</label>
                                    <input type="text" class="form-control" id="branchName" name="name" required>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}