{% extends 'index.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol> -->
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Role-Specific Cards -->
                    {% if user_role == 'MD manager' or user_role == 'TEC' or user_role == 'MO' %}
                    <!-- Equipment Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Equipment <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-tools"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ equipment_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Equipment Card -->

                    <!-- Maintenance Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Maintenance <span>| Pending</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-wrench"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ maintenance_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Maintenance Card -->

                    <!-- Work Order Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Work Orders <span>| Pending</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clipboard-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ work_order_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Work Order Card -->
                    {% endif %}

                    {% if user_role == 'CL' %}
                    <!-- Work Orders Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Work Orders <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clipboard-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ work_order_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Work Orders Card -->

                    <!-- Completed Work Orders Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Completed Work Orders <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-check-circle"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ completed_work_orders }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Completed Work Orders Card -->
                    {% endif %}

                    {% if user_role == 'AD' %}
                    <!-- Users Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Users <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ user_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Users Card -->

                    <!-- Equipment Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Equipment <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-tools"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ equipment_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Equipment Card -->

                    <!-- Branches Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Branches <span>| Total</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-building"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ branch_count }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Branches Card -->
                    {% endif %}

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">
                <!-- Recent Activity -->
                {% if user_role == 'MD manager' or user_role == 'TEC' or user_role == 'MO' %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                        <div class="activity">
                            {% for action in recent_actions %}
                            <div class="activity-item d-flex">
                                <div class="activite-label">{{ action.created_at|timesince }} ago</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    {{ action.description }}
                                </div>
                            </div><!-- End activity item-->
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- End Recent Activity -->
                {% endif %}
            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->

{% endblock %}