{% extends 'index.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <!-- Messages Block -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center mb-2">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- End Messages Block -->

    <div class="pagetitle">
        <h1>{{ title }}</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
                            <a href="{% url 'add_maintenance_task' %}" class="btn btn-success bg-success">
                                <i class="bi bi-plus"></i> Add Maintenance Task
                            </a>
                        </div>

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Equipment Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for maintenance_task in item_list %}
                                <tr>
                                    <td>
                                        <a href="{% url edit_url maintenance_task.id %}">
                                            {{ maintenance_task.equipment_type }}</a>
                                    </td>
                                    <td>{{ maintenance_task.description }}</td>
                                    <td>
                                        
                                        
                                        <a href="{% url delete_url maintenance_task.id %}" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i> Delete
                                        </a>

                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No maintenance types found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}


