{% extends 'index.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">

    <!-- Messages Block -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center mb-2">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- End Messages Block -->

    <div class="pagetitle">
        <h1>{{ title }}</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div class="d-flex justify-content-end mb-3" style="margin-top: 20px;">
                            <a href="{% url 'add_work_order' %}" class="btn btn-success bg-success">
                                <i class="bi bi-plus"></i> Add Work Order
                            </a>
                        </div>

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    {% if request.user.userprofile.role != 'CL' %}
                                    <th>Equipment</th>
                                    {% endif %}
                                    <th>Description</th>
                                    <th>Location</th>
                                    <th>Requester</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for work_order in item_list %}
                                <tr>
                                    {% if request.user.userprofile.role != 'CL' %}
                                    <td>
                                    {{ work_order.equipment.name }}
                                    </td>
                                    {% endif %}
                                    <td>{{ work_order.description }}</td>
                                    <td>{{ work_order.location }}</td>
                                    <td>{{ work_order.requester.username }}</td>
                                    <td>{{ work_order.get_status_display }}</td>
                                    <td>{{ work_order.created_at }}</td>
                                    <td>
                                        <a href="{% url edit_url work_order.id %}"><i class="bi bi-pencil-fill"></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No work orders found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}
